<div class="container">
    <h3>Enter a comment:</h3>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Comment</span>
        <input type="text" class="form-control"></input>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>