<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{{ blogTitle }}}</h4>
        <p class="card-text">{{{ blogContent }}}</p>
        <div class="card-footer">
            {{ username }}
            {{ dateCreated }}
        </div>
    </div>
</div>