< {{> postlist post}}
    {{#if loggedIn}}



    <div class="container" id="newPost">
        <h2 class="title">Create a New Blog Post</h2>
        <form id="newPost">
            <div>
                <label for="title">Blog Title:</label>
                <input class="input" id="title" name="title" placeholder="Blog Title" />
            </div>
            <div>
                <label for="content">Blog Content:</label>
                <input class="textarea" id="content" name="content" placeholder="Blog Content" />
            </div>
            <button type="submit" class="btn">Save New Post</button>
        </form>
        {{/if}}

        <script src="/public/js/addPost.js"></script>

    </div>