<div class="container">
    <h2 class="newBlog">Create a new blog post</h2>
    <h3 class="blogTitle">Blog Title:</h3>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
        <input type="text" class="form-control"></input>
    </div>
    <h3>Blog Content:</h3>
    <div class="input-group mb-3">
        <span class="input-group-text blogContent" id="inputGroup-sizing-default"></span>
        <input type="text" class="form-control"></input>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>