<div class="container">
    <h2 id="dashboard">Blog Dashboard</h2>
    <section>
        {{#if posts.length}}
        <h3 class="display-6">Posts</h3>
        {{#each posts as |post|}}
        {{> postlist post}}
        {{/each}}
        {{/if}}
    </section>
    <a href="/posts" class="btn">New Post</a>
</div>