<h1>Login</h1>

<form class="form loginForm">
    <div class="formGroup">
        <label for="emailLogin">Email:</label>
        <input class="formInput" type="text" id="emailLogin" />
    </div>
    <div class="formGroup">
        <label for="pwdLogin">Password:</label>
        <input class="formInput" type="password" id="pwdLogin" />
    </div>
    <div class="formGroup">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>

<script scr="/js/login.js"></script>