<h1>Login</h1>

<form class="form loginForm">
    <div class="formGroup">
        <label for="emailLogin">Email:</label>
        <input class="formInput" type="text" id="emailLogin" />
    </div>
    <div class="formGroup">
        <label for="pwdLogin">Password:</label>
        <input class="formInput" type="password" id="pwdLogin" />
    </div>
    <div class="formGroup">
        <a href="/dashboard" class="btn btn-primary">Login</a>
    </div>
</form>

<script scr="./login.js"></script>